html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.footer{
  display: flex;
  justify-content: center; /* Push items to left and right */
  align-items: center;
  padding: 10px 20px;
  background-color: #d5e6ed;
  border-top: 1px solid #ccc;
  font-size: 14px;
}

select.form-control, select.form-select {
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  background-image: none !important;
}

.placeholder-center{
    text-align-last: center;
    text-align: center;
    color: #6c757d;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 1rem; /* Optional space for the footer */
}

.text-hover {
  color: deepskyblue;
  transition: color 0.2s ease, background-color 0.2s ease;
  cursor: pointer;
  padding: 4px 6px;
  border-radius: 4px;
}

.text-hover:hover {
  background-color: rgba(0, 191, 255, 0.1); /* light blue background on hover */
}

.text-hover:active {
  background-color: rgba(0, 191, 255, 0.2); /* slightly darker on click */
}

.btn-deepsky {
  color: deepskyblue;
  border: 1px solid deepskyblue;
  padding: 6px 16px;
  background-color: transparent;
  transition: all 0.2s ease;
  border-radius: 999px;
  cursor: pointer;
}

.btn-deepsky:hover {
  background-color: deepskyblue;
  color: white;
}

.btn-deepsky:active {
  background-color: #009ac7; /* slightly darker blue */
  border-color: #009ac7;
}

.btn-add {
  color: white;
  border: 1px solid deepskyblue;
  padding: 6px 16px;
  background-color: deepskyblue;
  transition: all 0.2s ease;
  border-radius: 1200px;
  cursor: pointer;
}

.btn-add:hover {
  background-color: lightskyblue;
  color: black;
}

.btn-add:active {
  background-color: dodgerblue; /* slightly darker blue */
  border-color: darkblue;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9; /* optional */
}

.login-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
